table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #CE0033;
  font-weight: bold;
  color: #fff;
}
thead {
    background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}
table tr:hover {
  background-color: #333;
  color: #fff;
}

table td.image {
  max-width: 100px;
}
td img{
    width: 50px;
}

